<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibai.medicproc.system.form.mapper.FormFuncMapper">


    <select id="pageList"  parameterType="FormFunction" resultType="FormFunction">
        select a.*, b.form_name formName
        from form_function a
        left join form_metadata b
        on a.form_id = b.id

    </select>
</mapper>
